<?xml version="1.0"?>
<!--
  Copyright © MGH-tech. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MGH\ParentProducts\Api\ParentProductsProviderInterface" type="MGH\ParentProducts\Model\ParentProductsProvider"/>
</config>
